<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Book List</h1>
    <a href="/addbook">Add a new book</a> <!-- Link to add new books -->
    <p>Welcome, <span th:text="${#httpServletRequest.remoteUser}"></span>!</p>

    <a th:href="@{/logout}">Logout</a>

    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Year</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.category}">Category</td>
                <td th:text="${book.author}">Author</td>
                <td th:text="${book.isbn}">ISBN</td>
                <td th:text="${book.year}">Year</td>
                <td>
                    <th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}"></th:block>
                        <a th:href="@{/deletebook/{id}(id=${book.id})}">Delete</a>
                    </th:block>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
